* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  font-family: Arial, sans-serif;
  color: white;
}

.menu-toggle {
  display: none;
}


.hamburger {
  position: fixed;
  top: 20px;
  left: 30px;
  z-index: 1000;
  cursor: pointer;
  width: 35px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger div {
  width: 100%;
  height: 4px;
  background-color: white;
  transition: 0.4s;
}


.menu-toggle:checked + .hamburger .bar1 {
  transform: rotate(-45deg) translate(-7px, 7px);
}
.menu-toggle:checked + .hamburger .bar2 {
  opacity: 0;
}
.menu-toggle:checked + .hamburger .bar3 {
  transform: rotate(45deg) translate(-7px, -7px);
}


.dropdown-content {
  display: none;
  position: fixed;
  top: 60px;
  left: 20px;
  background-color: rgba(0,0,0,0.85);
  min-width: 150px;
  border-radius: 5px;
  z-index: 1000;
  flex-direction: column;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(255,255,255,0.1);
}


.menu-toggle:checked ~ .dropdown-content {
  display: flex;
}

.projects-grid {
    top: 20%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 2em;                            
  padding: 2em;
}

.project-item {
  display: block;      
  overflow: hidden;
  border-radius: 1em;
  transition: transform 0.3s ease; 
}

.project-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;    
  display: block;
  scale: 80%;
}



@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

