
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  font-family: Arial, sans-serif;
  color: white;
}



.hero {
  position: relative;
  height: 60vh;
  overflow: hidden;
}


.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}


.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 1;
}


.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.2rem;
  opacity: 0.85;
}


.menu-toggle {
  display: none;
  
}


.hamburger {
  position: fixed;
  top: 20px;
  left: 30px;
  z-index: 3;
  cursor: pointer;
  width: 35px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger div {
  width: 100%;
  height: 4px;
  background-color: white;
  transition: 0.4s;
}


.menu-toggle:checked + .hamburger .bar1 {
  transform: rotate(-45deg) translate(-7px, 7px);
}
.menu-toggle:checked + .hamburger .bar2 {
  opacity: 0;
}
.menu-toggle:checked + .hamburger .bar3 {
  transform: rotate(45deg) translate(-7px, -7px);
}


.dropdown-content {
  display: none;
  position: fixed;
  top: 60px;
  left: 20px;
  background-color: rgba(0,0,0,0.85);
  min-width: 150px;
  border-radius: 5px;
  z-index: 3;
  flex-direction: column;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(255,255,255,0.1);
}


.menu-toggle:checked ~ .dropdown-content {
  display: flex;
}


.sl {
  position: relative;
  display: flex;
  height: 345px;
  justify-content: space-between;
}

.camera {
  position: absolute;
  margin-top: 30px;
  margin-right: 100px;
  top: 0;
  right: 0;
  max-height: 345px;
  z-index: 10;
  scale: 2;
}

.slider {
  top: 22px;
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(250px * 10); 
  animation: scroll 40s linear infinite;
}

.slide {
  width: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
}

.slide img {
  width: 100%;
  display: block;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 5)); }
}


.carosel {
  width: 100%;
  overflow-x: auto;  
  margin: 3em auto;
  display: flex;
  gap: 1em; 
  scroll-behavior: smooth;
  anchor-name: --carosel;
  scroll-snap-type:x mandatory;
  
}




.carosel::-webkit-scrollbar{
  display:none;
}

.carosel::scroll-button(right), .carosel::scroll-button(left){
  content: '→';
  border: none;
  background-color: #f01a90;
  font-family: Consolas;
  font-size: 3em;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 40%;
  padding: .1em;
  padding-bottom: 0.21em;
  cursor: pointer;
  position: fixed;
  position-anchor: --carosel;
  position-area: right center;
  translate: -50%;
}

.carosel::scroll-button(left){
  content: '←';
  position-area: left center;
  translate: 50%;

}

.carosel::scroll-button(right):disabled, .carosel::scroll-button(left):disabled{
  opacity: 0.5;
  cursor: auto;
}

.card {
  scroll-snap-align: start;
  flex: 0 0 100% ;  
  height: 50em;
  background-color:transparent;
  color:red;
  padding: 3em;
  border-radius:1em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card img{
  width: 100%;
  height: 50em;
  object-fit:contain;
  display: block;      
  
}

.about {
  display: flex;
  align-items: center;       
  justify-content: center;
  gap: 2em;                 
  padding: 4em 2em;
  background-color: black;   
  color: white;
  flex-wrap: wrap;  
  text-align: center;
 
      
}

.about-text {
  flex: 1 1 400px;
  flex-direction: column;
  align-items: center;       
}

.about-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1em;
  text-align: center;
}

.about-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.5em;
  text-align: center;
}

.about-text .btn {
  display: inline-block;
  padding: 0.8em 1.5em;
  background-color:#f01a90;
  color: white;
  text-decoration: none;
  border-radius: 0.5em;
  transition: 0.3s;
 
}

.about-text .btn:hover {
  background-color: silver;
;
}

.about-image {
  flex: 1 1 400px;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 1em;
  object-fit: cover;         
}




